@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
    .container {
      width: 1440px;
    }
  }
/* Header */

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
@media screen and (min-width: 768px) {
    .mobile-menu-open-btn {
      display: none;
    }
  }

  @media screen and (max-width:1439px) {
    .address-link {
        display: none;
    }
}

/* Hero section */

@media screen and (min-width:768px) {
    
  }

  

  